= form_for @stock_member do |f|
  - if @stock_member.errors.any?
    #error_explanation
      %h2= "#{pluralize(@stock_member.errors.count, "error")} prohibited this stock_member from being saved:"
      %ul
        - @stock_member.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :seller_id
    = f.number_field :seller_id
  .field
    = f.label :stock_id
    = f.number_field :stock_id
  .actions
    = f.submit 'Save'
