%h1 Listing sellers

%table
  %thead
    %tr
      %th User
      %th Region
      %th Address
      %th Active
      %th Raiting
      %th
      %th
      %th

  %tbody
    - @sellers.each do |seller|
      %tr
        %td= seller.user_id
        %td= seller.region
        %td= seller.address
        %td= seller.active
        %td= seller.raiting
        %td= link_to 'Show', seller
        %td= link_to 'Edit', edit_seller_path(seller)
        %td= link_to 'Destroy', seller, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Seller', new_seller_path
