= form_for @product do |f|
  - if @product.errors.any?
    #error_explanation
      %h2= "#{pluralize(@product.errors.count, "error")} prohibited this product from being saved:"
      %ul
        - @product.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :seller_id
    = f.number_field :seller_id
  .field
    = f.label :category_id
    = f.number_field :category_id
  .field
    = f.label :min_price
    = f.text_field :min_price
  .field
    = f.label :max_price
    = f.text_field :max_price
  .field
    = f.label :quantity
    = f.number_field :quantity
  .field
    = f.label :rating
    = f.number_field :rating
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_area :description
  .actions
    = f.submit 'Save'
